/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

body {
  background-image: url("/backyard-image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
	background-attachment: fixed;
  background-color: #66D6EB;
  color: white;
}

.navbar-default {
  background-color: transparent;
  border-color: transparent;
  padding: 10px;
}

.navbar-default .navbar-brand {
  color: white;
}

.navbar-default .navbar-nav li a {
  color: white;
}

.sign-in-egg {
  background-image: url("/egg.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 500px;
  color: black;
  min-height: 630px;
  margin-top: 8px;
  padding-top: 140px;
}

@media (max-width: 767px) {
  .sign-in-egg {
    background-size: contain;
  }
}

@media (max-width: 320px) {
  .sign-in .col-xs-offset-1 {
    margin-left: 0;
  }

  .sign-in .col-xs-10 {
    width: 100%;
  }
}

.sign-in-egg h2 {
  padding-bottom: 20px;
}

.register {
  color: black;
}

.forgot-pw {
  color: black;
}

.welcome-egg img {
  max-width: 500px;
  width: 100%;
}

.shake {
	position:relative;
}

@-webkit-keyframes spaceboots {
	0% { -webkit-transform: translate(2px, 1px) rotate(0deg); }
	10% { -webkit-transform: translate(-1px, -2px) rotate(-1deg); }
	20% { -webkit-transform: translate(-3px, 0px) rotate(1deg); }
	30% { -webkit-transform: translate(0px, 2px) rotate(0deg); }
	40% { -webkit-transform: translate(1px, -1px) rotate(1deg); }
	50% { -webkit-transform: translate(-1px, 2px) rotate(-1deg); }
	60% { -webkit-transform: translate(-3px, 1px) rotate(0deg); }
	70% { -webkit-transform: translate(2px, 1px) rotate(-1deg); }
	80% { -webkit-transform: translate(-1px, -1px) rotate(1deg); }
	90% { -webkit-transform: translate(2px, 2px) rotate(0deg); }
	100% { -webkit-transform: translate(1px, -2px) rotate(-1deg); }
}

.shake:hover, .shake:focus {
	-webkit-animation-name: spaceboots;
	-webkit-animation-duration: 0.8s;
	-webkit-transform-origin:50% 50%;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
}
