/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

body {
  background-image: url("/backyard-image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
	background-attachment: fixed;
  background-color: #66D6EB;
  color: white;
}

.navbar-default {
  background-color: transparent;
  border-color: transparent;
  padding: 10px;
}

.navbar-default .navbar-brand {
  color: white;
}

.navbar-default .navbar-nav li a {
  color: white;
}

.sign-in-egg {
  background-image: url("/egg.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 500px;
  color: black;
  min-height: 630px;
  padding-top: 140px;
}

@media (max-width: 767px) {
  .sign-in-egg {
    background-size: contain;
  }
}

@media (max-width: 320px) {
  .sign-in .col-xs-offset-1 {
    margin-left: 0;
  }

  .sign-in .col-xs-10 {
    width: 100%;
  }
}

.sign-in-egg h2 {
  padding-bottom: 20px;
}

.register {
  color: black;
}
